# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
*.db
*.db
*.lastbuildstate
*.tlog
*.idb
*.pdb
*.ilk
*.log
*.db
CompSci-110/FinalProject/FinalProject_TeamPokemon/.vs/FinalProject_TeamPokemon/v15/.suo
CompSci-110/FinalProject/FinalProject_TeamPokemon/.vs/FinalProject_TeamPokemon/v15/ipch/47cba5067eaf5d0d.ipch
CompSci-110/FinalProject/FinalProject_TeamPokemon/.vs/FinalProject_TeamPokemon/v15/.suo
CompSci-110/FinalProject/FinalProject_TeamPokemon/.vs/FinalProject_TeamPokemon/v15/.suo
CompSci-110/FinalProject/FinalProject_TeamPokemon/FinalProject_TeamPokemon/Console.cpp
