# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/CompSci-110/Homework2/HW2_AviCueva/.vs/HW2_AviCueva/v15/Browse.VC.opendb
/CompSci-110/lab7/lab7_AviCueva/.vs/lab7_AviCueva/v15/Browse.VC.db
/CompSci-110/lab7/lab7_AviCueva/.vs/lab7_AviCueva/v15/Browse.VC.opendb
